@use '../abstracts' as *;

@mixin focused() {
  outline: $clr-text-70 auto 1px;
  outline-offset: 2px;
}

@mixin focused-red() {
  outline: solid 3px $clr-red-20;
  outline-offset: 0;
}

@mixin error() {
  outline: 1px solid $clr-red-100;
}

@mixin focused-box-shadow() {
  box-shadow: 0 0 0 3px rgba(151, 154, 154, 0.18);
}

@mixin clip-top() {
  clip-path: polygon(
    -3px 0,
    -3px calc(100% + 3px),
    calc(100% + 3px) calc(100% + 3px),
    calc(100% + 3px) 0
  );
}

@mixin clip-bottom() {
  clip-path: polygon(
    -3px -3px,
    -3px 100%,
    calc(100% + 3px) 100%,
    calc(100% + 3px) -3px
  );
}
