// FF Red
$red-150: #970705;
$red-120: #d32b1f;
$red-100: #fa3e34;
$red-70: #fc7871;
$red-50: #fc9e99;
$red-20: #fed8d6;

// FF Universal design Red (better contrast ratio)
$red-uu-100: #ea1106;

// FF Logo Red
$logo-red-100: #e74133;

// FF Violet
$violet-100: #bb29bb;

// FF Green
$green-100: #16b971;
$green-70: #5cce9c;

// FF Teal
$teal-100: #26acc8;
$teal-70: #66c5d9;
$teal-50: #91d5e3;
$teal-20: #d3eef4;

// FF Teal Shade
$teal-shade-100: #007e95;
$teal-shade-70: #4da5b5;
$teal-shade-50: #80beca;
$teal-shade-20: #cce5ea;

// FF Yellow
$yellow-100: #ffce00;
$yellow-70: #ffdd4d;
$yellow-50: #ffe680;
$yellow-20: #fff5cc;

// FF Sand
$sand-100: #eeeae5;
$sand-70: #f3f0ed;
$sand-65: #f4f1ec;
$sand-60: #f6f4f0;
$sand-50: #faf8f4;

// Border
$border-150: #c8c6bd;
$border-120: #dcdad3;
$border-100: #e7e5df;
$border-70: #eeeeee;

// FF Gray
$gray-120: #a29f9c;
$gray-100: #b5b2af;

// Text
$text-100: #3c3c3b;
$text-70: #6d6d6d;
$text-60: #828282;
$text-50: #979797;
$text-40: #b1b1b1;
$text-30: #c1c1c1;

// FF White
$white-100: #ffffff;

// Link
$link: $red-120;
$link-hover: $red-150;
