// FF Red
$clr-red-150: #970705;
$clr-red-120: #d32b1f;
$clr-red-100: #fa3e34;
$clr-red-70: #fc7871;
$clr-red-50: #fc9e99;
$clr-red-20: #fed8d6;

// FF Universal design Red (better contrast ratio)
$clr-red-uu-100: #ea1106;

// FF Logo Red
$clr-logo-red-100: #e74133;

// FF Violet
$clr-violet-100: #bb29bb;

// FF Green
$clr-green-100: #16b971;
$clr-green-70: #5cce9c;

// FF Teal
$clr-teal-100: #26acc8;
$clr-teal-70: #66c5d9;
$clr-teal-50: #91d5e3;
$clr-teal-20: #d3eef4;

// FF Teal Shade
$clr-teal-shade-100: #007e95;
$clr-teal-shade-70: #4da5b5;
$clr-teal-shade-50: #80beca;
$clr-teal-shade-20: #cce5ea;

// FF Yellow
$clr-yellow-100: #ffce00;
$clr-yellow-70: #ffdd4d;
$clr-yellow-50: #ffe680;
$clr-yellow-20: #fff5cc;

// FF Sand
$clr-sand-100: #eeeae5;
$clr-sand-70: #f3f0ed;
$clr-sand-65: #f4f1ec;
$clr-sand-60: #f6f4f0;
$clr-sand-50: #faf8f4;

// Border
$clr-border-150: #c8c6bd;
$clr-border-120: #dcdad3;
$clr-border-100: #e7e5df;
$clr-border-70: #eeeeee;

// FF Gray
$clr-gray-120: #a29f9c;
$clr-gray-100: #b5b2af;

// Text
$clr-text-100: #3c3c3b;
$clr-text-70: #6d6d6d;
$clr-text-60: #828282;
$clr-text-50: #979797;
$clr-text-40: #b1b1b1;
$clr-text-30: #c1c1c1;

// FF White
$clr-white-100: #ffffff;

// Link
$clr-link: $clr-red-120;
$clr-link-hover: $clr-red-150;
