// Breakpoints
$br-content-small: 611px;
$br-content-medium: 768px;
$br-content-wide: 1080px;
$br-buffer: 50px;

// Borders
$border-radius-default: 4px;

$breakpoints: (
  small: $br-content-small,
  medium: $br-content-medium,
  wide: $br-content-wide,
);
