// Breakpoints
$br-content-small: 611px;
$br-content-medium: 768px;
$br-content-wide: 956px;
$br-buffer: 50px;

// Content width
$content-inline-margin: 1rem;
$content-width-wide: calc($br-content-wide - $content-inline-margin * 2);

// Borders
$border-radius-default: 4px;

$breakpoints: (
  small: $br-content-small,
  medium: $br-content-medium,
  wide: $br-content-wide,
);
