@use '../abstracts' as *;
@use '../utilities/outline';

a {
  color: $clr-link;
  cursor: pointer;
  text-decoration: underline;

  &:visited {
    color: $clr-link-hover;
  }

  &:hover {
    color: $clr-link-hover;
    text-decoration: none;
  }

  &:focus,
  &:focus-visible {
    @include outline.focused;
  }

  @media (hover: none) and (pointer: coarse) {
    // Increase trigger size for touch
    display: inline-block;
    padding: 0.5rem;
  }
}
