@use 'abstracts' as var;
@use 'base/typography' as typ;

$disabled-bg: var.$clr-gray-100;
$border-radius-btn: 5px;

$primary-bg: var.$clr-red-100;
$primary-text: var.$clr-white-100;
$primary-bg-hover: var.$clr-red-120;
$primary-text-hover: var.$clr-white-100;
$primary-inner-shadow: var.$clr-logo-red-100;

$secondary-bg: var.$clr-sand-65;
$secondary-text: var.$clr-text-100;
$secondary-bg-hover: darken(var.$clr-sand-65, 5%);
$secondary-text-hover: var.$clr-text-100;
$secondary-inner-shadow: var.$clr-border-120;

.btn {
  @include typ.font-semibold;
  background-color: var.$clr-white-100;
  border: 1.5px solid transparent;
  border-radius: $border-radius-btn;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  justify-content: center;
  outline: none;
  padding-block: 11px;
  padding-inline: 17px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition:
    background-color 0.15s ease-in-out,
    color 0.15s ease-in-out;
  user-select: none;

  &.fullwidth {
    display: flex;
    height: 100%;
    margin: auto;
    width: auto;
  }

  &.inline {
    display: inline-flex;
    font-size: 16px;
    height: 100%;
  }

  &.padded {
    padding: 11px 17px;
  }

  &.standalone {
    display: flex;
    height: 100%;
  }

  /* Colors */
  &--red,
  &--primary {
    background-color: $primary-bg;
    box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.1);
    color: $primary-text;

    &:hover {
      background: $primary-bg-hover;
    }
  }

  &--gray,
  &--secondary {
    background: var.$clr-gray-100;
    color: var.$clr-white-100;
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: var.$clr-gray-120;
    }

    &:focus-visible {
      box-shadow: 0px -2px 0px 0px #a29f9c inset;
    }
  }

  &--sand {
    background-color: $secondary-bg;
    box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.1);
    color: $secondary-text;

    &:hover {
      background: $secondary-bg-hover;
    }
  }

  &--green {
    background-color: var.$clr-green-100;
    border-bottom-color: darken(var.$clr-green-100, 5%);
    color: var.$clr-white-100;

    &:hover {
      background-color: darken(var.$clr-green-100, 10%);
      border-bottom-color: darken(var.$clr-green-100, 12%);
    }

    &:focus {
      border-color: darken(var.$clr-green-100, 12%);
      box-shadow: 0 0 0 3px transparentize(var.$clr-green-100, 0.5);
    }
  }

  &--transparent {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;

    :hover {
      background-color: transparent;
      border-color: transparent;
    }
  }

  /* State */
  &:active {
    &:not(:disabled) {
      margin-bottom: -1px;
      margin-top: 1px;
    }
  }

  &:focus-visible {
    outline: var.$clr-text-100 auto 1px;
    outline-offset: 1px;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $disabled-bg;
  }

  /* Size */

  &--stretch {
    width: 100%;
  }

  &--mini {
    @include typ.font-12;
    line-height: 1rem;
    padding: 6px 12px;
  }

  &--small {
    @include typ.font-14;
    padding: 7px 18px 8px 18px;
  }

  &--medium {
    @include typ.font-16;
    padding: 8px 18px;
  }

  &--large {
    @include typ.font-19;
  }

  &--extra-large {
    @include typ.font-24;
    padding: 18.75px 22.5px 20px 22.5px;
  }

  /* button type */

  &--link {
    color: var.$clr-link;
    font-weight: normal;
    background-color: transparent;
    text-decoration: underline;
    box-shadow: none;
    text-align: left;
    justify-content: left;
    padding: 2px 0;

    &:hover {
      background-color: transparent;
      text-decoration: none;
      color: var.$clr-link-hover;
    }
  }
}

/**
 * Override link color for links styled to look like buttons
 */
a.btn {
  &.btn--gray,
  &.btn--sand {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: var.$clr-text-100;
      text-decoration: none;
    }
  }

  &.btn--primary,
  &.btn--secondary,
  &.btn--green {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: var.$clr-white-100;
      text-decoration: none;
    }
  }
}
