@use '../abstracts' as *;
@use '../abstracts/breakpoints';
@use '../base/typography' as typ;

/*
Deprecated. Headings use global styles
*/
@mixin h1() {
  @include typ.font-bold;
  font-size: 1.875rem;
  line-height: 2.375rem;

  @media (min-width: var(--ff-br-content-small)) {
    font-size: 3.5rem;
    line-height: 4.375rem;
  }
}

@mixin h2() {
  @include typ.font-bold;
  font-size: 1.875rem;
  line-height: 2.375rem;

  @media (min-width: var(--ff-br-content-small)) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@mixin h3() {
  @include typ.font-bold;
  font-size: 1.375rem;
  line-height: 1.75rem;

  @media (min-width: var(--ff-br-content-small)) {
    font-size: 1.6875rem;
    line-height: 2.125rem;
  }
}

h1 {
  @include typ.font-bold;
  font-size: 1.875rem;
  line-height: 2.375rem;

  @media (min-width: var(--ff-br-content-small)) {
    font-size: 3.5rem;
    line-height: 4.375rem;
  }
}

h2 {
  @include typ.font-bold;
  font-size: 1.875rem;
  line-height: 2.375rem;

  @media (min-width: var(--ff-br-content-small)) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h3 {
  @include typ.font-bold;
  font-size: 1.375rem;
  line-height: 1.75rem;

  @media (min-width: var(--ff-br-content-small)) {
    font-size: 1.6875rem;
    line-height: 2.125rem;
  }
}
