@use '../../utilities/outline';
@use '../../base/typography';

@mixin text() {
  @include typography.control-error;
  visibility: hidden;

  &.collapse,
  &.transparent {
    display: none;
  }

  @at-root form.ng-submitted .ng-invalid + &,
    .ng-touched.ng-invalid + &,
    .ng-touched.invalid + & {
    &:not(.transparent) {
      visibility: visible;

      &.collapse {
        display: block;
      }
    }
  }
}

@mixin outline() {
  @at-root form.ng-submitted .ng-invalid,
    &.ng-touched.ng-invalid,
    &.ng-touched.invalid {
    &:not(.transparent) {
      @include outline.error;

      &:focus-visible,
      &:has(input:focus-visible) {
        @include outline.focused-red;
      }
    }
  }
}

.control-error-text {
  @include text;
}

.control-error-outline {
  @include outline;
}
