@use '../../utilities/outline';
@use './control-error';
@use '../../abstracts' as *;

textarea {
  resize: none;
  min-height: 100px;
}

@mixin input-field() {
  background-color: var(--ff-white-100);
  border: 1px solid var(--ff-border-clr-100);
  border-radius: var(--ff-border-radius-default);
  box-sizing: border-box;
  color: var(--ff-text-clr-100);
  display: block;
  line-height: 30px;
  padding: 10px;
  width: 100%;

  &[type='text'] {
    line-height: 30px;
  }

  &.secondary {
    background-color: transparent;
    cursor: pointer;
  }

  &::placeholder {
    color: var(--ff-placeholder);
  }

  &:focus-visible,
  &:has(input:focus-visible) {
    @include outline.focused;
  }

  &[readonly],
  &:has(input[readonly]) {
    background-color: var(--ff-sand-70);
    cursor: default;
  }

  &:disabled,
  &[disabled],
  &:has(input[disabled]) {
    background-color: var(--ff-input-disabled-bg);
    cursor: not-allowed;
  }

  @include control-error.outline;

  &.dropdown-input-field {
    &.panel-open {
      @include outline.focused-box-shadow;
      border: 1px solid var(--ff-text-clr-50);
      border-radius: var(--ff-border-radius-default) var(--ff-border-radius-default) 0 0;
      outline: none;

      &.transparent {
        border: none;
        border-radius: 0;
        box-shadow: none;
      }
    }
  }

  &.transparent {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;

    &:focus-visible,
    &:has(input:focus-visible) {
      box-shadow: none;
      outline: none;
    }
  }
}

input:not([type='radio']),
select,
textarea {
  @include input-field();
}
