@use '../../utilities/outline';
@use './control-error';
@use '../../abstracts' as *;

textarea {
  resize: none;
  min-height: 100px;
}

@mixin input-field() {
  background-color: $clr-white-100;
  border: 1px solid $clr-border-100;
  border-radius: $border-radius-default;
  border-style: solid;
  box-sizing: border-box;
  color: $clr-text-100;
  display: block;
  line-height: 30px;
  padding: 10px;
  width: 100%;

  &[type='text'] {
    line-height: 30px;
  }

  &.secondary {
    background-color: transparent;
    cursor: pointer;
  }

  &::placeholder {
    color: $clr-placeholder;
  }

  &:focus-visible,
  &:has(input:focus-visible) {
    @include outline.focused;
  }

  &[readonly],
  &:has(input[readonly]) {
    background-color: $clr-sand-70;
    cursor: default;
  }

  &:disabled,
  &[disabled],
  &:has(input[disabled]) {
    background-color: $clr-input-disabled-bg;
    cursor: not-allowed;
  }

  @include control-error.outline;

  &.dropdown-input-field {
    &.panel-open {
      outline: none;
      @include outline.focused-box-shadow;
      border: 1px solid $clr-text-50;
      border-radius: $border-radius-default $border-radius-default 0 0;

      &.transparent {
        border: none;
        border-radius: 0;
        box-shadow: none;
      }
    }
  }

  &.transparent {
    background-color: transparent;
    padding: 0;
    border: none;
    border-radius: 0;

    &:focus-visible,
    &:has(input:focus-visible) {
      outline: none;
      box-shadow: none;
    }
  }
}

input:not([type='radio']),
select,
textarea {
  @include input-field();
}
