@use '../../abstracts' as *;
@use '../../utilities/outline';

label {
  color: $clr-label;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.1px;
  margin: 0 0 0.3em;
}

textarea {
  resize: none;
  min-height: 100px;
}

input,
.input,
select,
textarea {
  background-color: $clr-white-100;
  border-width: 1px;
  border-color: $clr-border-100;
  border-radius: $border-radius-default;
  border-style: solid;
  box-sizing: border-box;
  color: $clr-text-100;
  display: block;

  padding: 15px 18px;
  width: 100%;

  &.secondary {
    background-color: transparent;
    cursor: pointer;
  }

  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    opacity: 1;
  }

  &::placeholder {
    /* Most modern browsers support this now. */
    color: $clr-placeholder;
  }
}

input,
select,
textarea {
  &:focus-visible {
    @include outline.focused;
  }
}

input,
textarea {
  &:read-only,
  &[readonly] {
    background: $clr-sand-70;
    cursor: default;
  }
}

input,
select,
textarea {
  &:disabled,
  &[disabled] {
    background: $clr-sand-100;
    cursor: not-allowed;
  }
}

/* Separate rule for select, some browsers deem selects to always be :read-only */
select[readonly],
select.readonly {
  background: $clr-sand-70;
  cursor: pointer;
}
