@use '../../base/typography';
@use '../../abstracts' as *;

label {
  color: $clr-text-100;
  @include typography.font-semibold;

  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 0;

  cursor: pointer;

  > *,
  &:has(input) > * {
    @include typography.font-normal;
  }
}
