// https://moderncss.dev/solutions-to-replace-the-12-column-grid/

/*
Deprecated. Use .ff-buttons from components/form/_button.scss instead.
*/
.buttons {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  margin-block-start: 1rem;

  &--inline {
    @extend .buttons;

    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: flex-start;
  }
}
