@use '../abstracts' as *;

@mixin container-narrow() {
  display: block;
  margin: 0 auto 4rem;
  max-width: $br-content-medium;
  width: 100%;

  @media (min-width: 992px) {
    max-width: 800px;
  }

  @media (min-width: 1200px) {
    max-width: $br-content-wide;
  }
}

@mixin container-extra-narrow() {
  max-width: $br-content-small;
}

/**
 * Pages not using 100% width
 */
@mixin page-narrow() {
  display: block;
  margin: 0 auto 4rem;
  max-width: $br-content-medium;
}

@mixin narrow() {
  @include grid;
}

@mixin grid($size: wide) {
  display: grid;
  $max-width: map-get($content-widths, $size);
  $content-width: min(100% - $content-inline-margin * 2, $max-width);
  grid-template-columns: 1fr [content-start] $content-width [content-end] 1fr;
  margin-bottom: 4rem;

  & > * {
    grid-column: content;
  }
}
