@use '../abstracts' as *;

.container-narrow {
  display: block;
  margin: 0 auto 4rem;
  max-width: var(--ff-br-content-medium);
  width: 100%;

  @media (min-width: 992px) {
    max-width: 800px;
  }

  @media (min-width: 1200px) {
    max-width: var(--ff-br-content-wide);
  }
}

.container-extra-narrow {
  display: block;
  margin: 0 auto 4rem;
  max-width: var(--ff-br-content-medium);
}

.page-narrow {
  display: block;
  margin: 0 auto 4rem;
  max-width: var(--ff-br-content-medium);
}

@mixin container-narrow() {
  display: block;
  margin: 0 auto 4rem;
  max-width: var(--ff-br-content-medium);
  width: 100%;

  @media (min-width: 992px) {
    max-width: 800px;
  }

  @media (min-width: 1200px) {
    max-width: var(--ff-br-content-wide);
  }
}

@mixin container-extra-narrow() {
  max-width: var(--ff-br-content-small);
}

/**
 * Pages not using 100% width
 */
@mixin page-narrow() {
  display: block;
  margin: 0 auto 4rem;
  max-width: var(--ff-br-content-medium);
}

@mixin narrow() {
  @include grid;
}

@mixin grid($max-width: var(--ff-content-width-wide)) {
  $content-width: min(100% - var(--ff-content-inline-margin) * 2, $max-width);

  display: grid;
  grid-template-columns: 1fr [content-start] $content-width [content-end] 1fr;
  margin-bottom: 4rem;

  & > * {
    grid-column: content;
  }
}
