// Containers and breakpoints
$breakpoint-pad-min-width:           500px;
$breakpoint-pad-max-width:           767px;
$breakpoint-pc-min-width:            768px;
$breakpoint-pc-min-width-decoration: 900px;
$breakpoint-wide-min-width:          1100px;
$container-max-width:                930px;
$container-content-max-width:        560px;
$container-content-narrow-max-width: 435px;
$container-padding-horizontal-mob:   20px;
$container-padding-horizontal-pad:   25px;
$container-padding-horizontal-pc:    50px;
$container-padding-horizontal-wide:  150px;
$container-padding-vertical-mob:     10px;
$container-padding-vertical-pad:     20px;
$container-padding-vertical-pc:      30px;
$content-title-spacing-mob:          36px;
$content-title-spacing-pad:          40px;
$content-title-spacing-pc:           44px;
