@use "variables" as var;
@use "typography" as typ;

.menu-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
  gap: 12px;
}

/**
 * Any content hidden from sight but available for accessibility tools such as screen readers
 */
.visually-hidden {
  clip-path:   inset(100%);
  clip:        rect(1px, 1px, 1px, 1px);
  height:      1px;
  overflow:    hidden;
  position:    absolute;
  white-space: nowrap;
  width:       1px;
}

/**
 * Style of outline (for focused elements)
 */
@mixin outline() {
  outline:        var.$clr-text-100 auto 1px;
  outline-offset: 3px;
}
